
 {{ form_start(form, {attr: {class : 'd-flex'}}) }}
{{ form_row(form.q) }}
<button class="btn btn-primary search-form-btn" type="submit"><i class="fa-solid fa-arrow-right"></i></button>
{{ form_end(form) }}
