{% extends 'base.html.twig' %}

{% block title %}Editer L'article{% endblock %}

{% block body %}
<div class="container">
    <h1>Editer L'article</h1>

    {{ include('article/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_article_index') }}">Liste Des Articles</a>

    {{ include('article/_delete_form.html.twig') }}

</div>
{% endblock %}
